@using Application.Function.ServerSpecification.Queries.GetAll

@model List<GetAllServersDto>

@{
}


<section class="section-padding">
    <div class="container mt-5 mb-5 border rounded bg-light p-3">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-4">
                            <p>Nazwa</p>
                        </th>
                        <th class="col-4">
                            <p>Adres IP</p>
                        </th>
                        <th class="col-4">
                            <p>Pojemność dysku</p>
                        </th>
                        <th class="col-4">
                            <p>Ram</p>
                        </th>
                        <th class="col-4">
                            <p>Procesy</p>
                        </th>
                        <th class="col-4">
                            <p></p>
                        </th>
                        <th class="col-4">
                            <p></p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var models in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(p => models.DomainName)
                            </td>
                            <td>
                                @Html.DisplayFor(p => models.IpAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(p => models.DiskSizeInGB)
                            </td>
                            <td>
                                @Html.DisplayFor(p => models.NumberOfRam)
                            </td>
                            <td>
                                @Html.DisplayFor(p => models.NumberOfCores)
                            </td>
                            <td>
                                <a class="nav-link text-dark" asp-area="" asp-controller="ServerSpecification" asp-action="Delete" asp-route-id="@models.Id">Usuń</a>
                            </td>
                            <td>
                                <a class="nav-link text-dark" asp-area="" asp-controller="ServerSpecification" asp-action="Update" asp-route-id="@models.Id">Aktualizuj</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <a class="nav-link text-dark" asp-area="" asp-controller="ServerSpecification" asp-action="Create">Dodaj nowy serwer</a>
            </div>
        </div>
    </div>
</section>